*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;

  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid lightslategray;
    background-color: plum;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    opacity:75%;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
    opacity:100%;
  }

  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  
  #submit-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #timer {
    float: center;
    margin-left: 215px;
  }

  .difficulty {
    float: right;
  }
  
.hide {
    display: none;
  }

.show {
    display: inline-block;
  }

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal-content {
    width: 600px;
    height: 700px;
    background-color: white;
    border-radius: 4px;
    text-align: center; 
    position: relative;
  }

input {
    width: 50%;
    display: inline-block;
    margin: 0, auto;

  }

img {
    width: 60%;
    height: auto;
  }

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 50px;
  transform: rotate(45deg);
  outline: black;
  cursor: pointer;
}

.close:hover{
  color:darkblue;
  opacity:75;
}

/* */
#msg {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}


.error {
  visibility: visible;
}

.error {
  font-size: 25px;
  color: #e6252c;
}

.success {
  
  /* Font options */
 font-family: 'Pacifico', cursive;
 text-shadow: 2px 2px 4px #000000;
 font-size:40px;
 
  /* Chrome, Safari, Opera */
 -webkit-animation: success 5s infinite; 
 
 /* Internet Explorer */
 -ms-animation: success 5s infinite;
 
 /* Standar Syntax */
 animation: success 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes success{
 0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes success{
  0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

/* Standar Syntax */
@keyframes success{
   0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}